In [2]:
# Importing necessary libraries

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Readiing the combined dataset

df_flights = pd.read_csv(r'E:/Mumbai_Airport-International_Flight_Analysis/data/processed/flights_data_combined.csv')
df_flights.head()

,_id,Year,Quarter,Origin,Dest,Pax From Origin,Pax To Origin,Freight From Origin,Frieght To Origin
0,1,2015,1,MUMBAI,ABUDHABI,80696,65961,1940.80,1118.21
1,2,2015,2,MUMBAI,ABUDHABI,83807,79788,2578.68,1487.49
2,3,2015,3,MUMBAI,ABUDHABI,86560,70306,2661.29,2017.14
3,4,2015,4,MUMBAI,ABUDHABI,92011,90657,48903.98,1936.51
4,5,2015,1,MUMBAI,ADDIS ABABA,20996,16326,2622.94,116.01

In [4]:
# Checking the shape of the dataset

df_flights.shape

(1812, 9)

In [5]:
# Checking the columns of the dataset

df_flights.columns

Index(['_id', 'Year', 'Quarter', 'Origin', 'Dest', 'Pax From Origin',
       'Pax To Origin', 'Freight From Origin', 'Frieght To Origin'],
      dtype='object')

In [7]:
# Checking the informtion of the dataset

df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1812 entries, 0 to 1811
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  1812 non-null   int64
 1   Year                 1812 non-null   int64
 2   Quarter              1812 non-null   int64
 3   Origin               1812 non-null   object
 4   Dest                 1812 non-null   object
 5   Pax From Origin      1812 non-null   int64
 6   Pax To Origin        1812 non-null   int64
 7   Freight From Origin  1812 non-null   float64
 8   Frieght To Origin    1812 non-null   float64
dtypes: float64(2), int64(5), object(2)
memory usage: 127.5+ KB

In [8]:
# Checking descriptive statistics of the dataset

df_flights.describe()

,_id,Year,Quarter,Pax From Origin,Pax To Origin,Freight From Origin,Frieght To Origin
count,1812.000000,1812.000000,1812.000000,1812.000000,1812.000000,1812.000000,1812.000000
mean,93.789183,2019.155077,2.444812,26879.288079,25108.639073,1286.747152,873.033515
std,55.755142,2.732853,1.112521,45357.233060,43139.202931,2488.130233,1559.967978
min,1.000000,2015.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,46.000000,2017.000000,1.000000,824.250000,834.500000,30.590000,1.037500
50%,91.000000,2019.000000,2.000000,11493.000000,10956.500000,409.585000,96.635000
75%,141.000000,2021.000000,3.000000,35650.250000,32922.000000,1421.475000,865.865000
max,210.000000,2024.000000,4.000000,338533.000000,334269.000000,48903.980000,7932.740000

In [11]:
df_flights.rename(columns={'Frieght To Origin': 'Freight To Origin'}, inplace=True)  # Correcting the column name

In [12]:
df_flights.columns

Index(['_id', 'Year', 'Quarter', 'Origin', 'Dest', 'Pax From Origin',
       'Pax To Origin', 'Freight From Origin', 'Freight To Origin'],
      dtype='object')

In [14]:
df_flights[['Origin','Dest']]

      Origin         Dest
0     MUMBAI     ABUDHABI
1     MUMBAI     ABUDHABI
2     MUMBAI     ABUDHABI
3     MUMBAI     ABUDHABI
4     MUMBAI  ADDIS ABABA
...      ...          ...
1807  MUMBAI     TASHKENT
1808  MUMBAI       TEHRAN
1809  MUMBAI       TEHRAN
1810  MUMBAI       ZURICH
1811  MUMBAI       ZURICH

[1812 rows x 2 columns]

In [18]:
# Calculate the total number of flights from Origin to Destination within each Year

total_flights = df_flights.groupby(['Year', 'Origin', 'Dest']).size().reset_index(name='Total Flights')

print(total_flights)

     Year  Origin         Dest  Total Flights
0    2015  MUMBAI     ABUDHABI              4
1    2015  MUMBAI  ADDIS ABABA              3
2    2015  MUMBAI         ADEN              4
3    2015  MUMBAI    AMSTERDAM              1
4    2015  MUMBAI      BAHRAIN              4
..    ...     ...          ...            ...
565  2024  MUMBAI    SINGAPORE              2
566  2024  MUMBAI    TANGERANG              2
567  2024  MUMBAI     TASHKENT              1
568  2024  MUMBAI       TEHRAN              2
569  2024  MUMBAI       ZURICH              2

[570 rows x 4 columns]

In [20]:
df_flights['Dest'].unique()

array(['ABUDHABI', 'ADDIS ABABA', 'ADEN', 'AMSTERDAM', 'BAHRAIN',
       'BANGKOK', 'BRUSELLS', 'CAIRO', 'COLOGNE', 'COLOMBO', 'DAMMAM',
       'DHAKA', 'DOHA', 'DUBAI', 'FRANKFURT', 'GUANGZHOU',
       'HO CHI MINH CITY', 'HONG KONG', 'ISTANBUL', 'JEDDAH',
       'JOHANNESBERG', 'KARACHI', 'KATHMANDU', 'KUALALUMPUR', 'KUWAIT',
       'LONDON', 'MARUITIUS', 'MEDINA', 'MUENCHEN', 'MUSCAT', 'NAIROBI',
       'NARITA', 'NAVOI', 'NEW YORK', 'NEWARK', 'OSAKA', 'PARIS',
       'RIYADH', 'SANAA', 'SEOUL', 'SEYCHELLES', 'SHANGHAI', 'SHARJAH',
       'SHENZHEN', 'SINGAPORE', 'TAIPAE', 'TEHRAN', 'TELAVIV', 'ZURICH',
       'ANTALYA', 'LEIPZIG', 'LUXEMBOURG', 'MALE', 'MALPENSA', 'DENPASAR',
       'DON MUEANG', 'KIGALI', 'MOSCOW', 'TANGERANG', 'TORONTO',
       'MANCHESTER', 'PHUKET', 'TASHKENT', 'BIRMINGHAM', 'CHITTAGONG',
       'NAJF', 'RASALKHAMA', 'VIENNA', 'AUCKLAND', 'Atyrau', 'BISHKEK',
       'CHICAGO', 'GLASGOW', 'IKEJA', 'KABUL', 'KHARTOUM', 'KIEV',
       'KUTAISI', 'LAPU-LAPU', 'LIEGE', 'MANILA', 'MATTALA', 'MELBOURNE',
       'PHNOM PENH', 'PORT LOUIS', 'RANGOON', 'RAS AL-KHAIMAH', 'ROME',
       'SAN FRANCISCO', 'STANSTED', 'STOCKHOLM', 'SYDNEY', 'TBILISI',
       'Turkmenabat', 'Vancouver', 'WASHINGTON, DC', 'AMMAN',
       'DUSSELDORF', 'HANOI', 'HOUSTON', 'Kaunas', 'MIAMI', 'Nanjing',
       'OSH', 'OSTEND', 'Seattle', 'WUHAN', 'YEREVAN', 'BUCHAREST',
       'DAR ES SALAM', 'SALALAH', 'DON MUEANG, BANGKOK ', 'MILAN',
       'MUNICH', 'NEWARK, NEW YORK', 'PORT LOUIS,MAURITIUS', 'FUJAIRAH',
       'MONTREAL', 'PARO'], dtype=object)

In [21]:
df_flights['Dest'].nunique()

119

In [19]:
# Print the output in the desired format

for index, row in total_flights.iterrows():
    print(f"The total number of flights with year {row['Year']} from origin {row['Origin']} to {row['Dest']} with total number {row['Total Flights']}")

The total number of flights with year 2015 from origin MUMBAI to ABUDHABI with total number 4
The total number of flights with year 2015 from origin MUMBAI to ADDIS ABABA with total number 3
The total number of flights with year 2015 from origin MUMBAI to ADEN with total number 4
The total number of flights with year 2015 from origin MUMBAI to AMSTERDAM with total number 1
The total number of flights with year 2015 from origin MUMBAI to BAHRAIN with total number 4
The total number of flights with year 2015 from origin MUMBAI to BANGKOK with total number 4
The total number of flights with year 2015 from origin MUMBAI to BRUSELLS with total number 4
The total number of flights with year 2015 from origin MUMBAI to CAIRO with total number 4
The total number of flights with year 2015 from origin MUMBAI to COLOGNE with total number 4
The total number of flights with year 2015 from origin MUMBAI to COLOMBO with total number 4
The total number of flights with year 2015 from origin MUMBAI to DAMMAM with total number 4
The total number of flights with year 2015 from origin MUMBAI to DHAKA with total number 4
The total number of flights with year 2015 from origin MUMBAI to DOHA with total number 4
The total number of flights with year 2015 from origin MUMBAI to DUBAI with total number 4
The total number of flights with year 2015 from origin MUMBAI to FRANKFURT with total number 4
The total number of flights with year 2015 from origin MUMBAI to GUANGZHOU with total number 4
The total number of flights with year 2015 from origin MUMBAI to HO CHI MINH CITY with total number 2
The total number of flights with year 2015 from origin MUMBAI to HONG KONG with total number 4
The total number of flights with year 2015 from origin MUMBAI to ISTANBUL with total number 4
The total number of flights with year 2015 from origin MUMBAI to JEDDAH with total number 4
The total number of flights with year 2015 from origin MUMBAI to JOHANNESBERG with total number 1
The total number of flights with year 2015 from origin MUMBAI to KARACHI with total number 4
The total number of flights with year 2015 from origin MUMBAI to KATHMANDU with total number 4
The total number of flights with year 2015 from origin MUMBAI to KUALALUMPUR with total number 4
The total number of flights with year 2015 from origin MUMBAI to KUWAIT with total number 4
The total number of flights with year 2015 from origin MUMBAI to LONDON with total number 4
The total number of flights with year 2015 from origin MUMBAI to MARUITIUS with total number 4
The total number of flights with year 2015 from origin MUMBAI to MEDINA with total number 4
The total number of flights with year 2015 from origin MUMBAI to MUENCHEN with total number 4
The total number of flights with year 2015 from origin MUMBAI to MUSCAT with total number 4
The total number of flights with year 2015 from origin MUMBAI to NAIROBI with total number 4
The total number of flights with year 2015 from origin MUMBAI to NARITA with total number 4
The total number of flights with year 2015 from origin MUMBAI to NAVOI with total number 3
The total number of flights with year 2015 from origin MUMBAI to NEW YORK with total number 4
The total number of flights with year 2015 from origin MUMBAI to NEWARK with total number 4
The total number of flights with year 2015 from origin MUMBAI to OSAKA with total number 4
The total number of flights with year 2015 from origin MUMBAI to PARIS with total number 4
The total number of flights with year 2015 from origin MUMBAI to RIYADH with total number 4
The total number of flights with year 2015 from origin MUMBAI to SANAA with total number 4
The total number of flights with year 2015 from origin MUMBAI to SEOUL with total number 4
The total number of flights with year 2015 from origin MUMBAI to SEYCHELLES with total number 4
The total number of flights with year 2015 from origin MUMBAI to SHANGHAI with total number 4
The total number of flights with year 2015 from origin MUMBAI to SHARJAH with total number 4
The total number of flights with year 2015 from origin MUMBAI to SHENZHEN with total number 4
The total number of flights with year 2015 from origin MUMBAI to SINGAPORE with total number 4
The total number of flights with year 2015 from origin MUMBAI to TAIPAE with total number 4
The total number of flights with year 2015 from origin MUMBAI to TEHRAN with total number 4
The total number of flights with year 2015 from origin MUMBAI to TELAVIV with total number 4
The total number of flights with year 2015 from origin MUMBAI to ZURICH with total number 4
The total number of flights with year 2016 from origin MUMBAI to ABUDHABI with total number 4
The total number of flights with year 2016 from origin MUMBAI to ADDIS ABABA with total number 4
The total number of flights with year 2016 from origin MUMBAI to ADEN with total number 4
The total number of flights with year 2016 from origin MUMBAI to AMSTERDAM with total number 4
The total number of flights with year 2016 from origin MUMBAI to ANTALYA with total number 3
The total number of flights with year 2016 from origin MUMBAI to BAHRAIN with total number 4
The total number of flights with year 2016 from origin MUMBAI to BANGKOK with total number 4
The total number of flights with year 2016 from origin MUMBAI to BRUSELLS with total number 4
The total number of flights with year 2016 from origin MUMBAI to CAIRO with total number 4
The total number of flights with year 2016 from origin MUMBAI to COLOGNE with total number 4
The total number of flights with year 2016 from origin MUMBAI to COLOMBO with total number 4
The total number of flights with year 2016 from origin MUMBAI to DAMMAM with total number 4
The total number of flights with year 2016 from origin MUMBAI to DHAKA with total number 4
The total number of flights with year 2016 from origin MUMBAI to DOHA with total number 4
The total number of flights with year 2016 from origin MUMBAI to DUBAI with total number 4
The total number of flights with year 2016 from origin MUMBAI to FRANKFURT with total number 4
The total number of flights with year 2016 from origin MUMBAI to GUANGZHOU with total number 4
The total number of flights with year 2016 from origin MUMBAI to HO CHI MINH CITY with total number 4
The total number of flights with year 2016 from origin MUMBAI to HONG KONG with total number 4
The total number of flights with year 2016 from origin MUMBAI to ISTANBUL with total number 4
The total number of flights with year 2016 from origin MUMBAI to JEDDAH with total number 4
The total number of flights with year 2016 from origin MUMBAI to KARACHI with total number 4
The total number of flights with year 2016 from origin MUMBAI to KATHMANDU with total number 4
The total number of flights with year 2016 from origin MUMBAI to KUALALUMPUR with total number 4
The total number of flights with year 2016 from origin MUMBAI to KUWAIT with total number 4
The total number of flights with year 2016 from origin MUMBAI to LEIPZIG with total number 3
The total number of flights with year 2016 from origin MUMBAI to LONDON with total number 4
The total number of flights with year 2016 from origin MUMBAI to LUXEMBOURG with total number 3
The total number of flights with year 2016 from origin MUMBAI to MALE with total number 1
The total number of flights with year 2016 from origin MUMBAI to MALPENSA with total number 4
The total number of flights with year 2016 from origin MUMBAI to MARUITIUS with total number 4
The total number of flights with year 2016 from origin MUMBAI to MEDINA with total number 4
The total number of flights with year 2016 from origin MUMBAI to MUENCHEN with total number 4
The total number of flights with year 2016 from origin MUMBAI to MUSCAT with total number 4
The total number of flights with year 2016 from origin MUMBAI to NAIROBI with total number 4
The total number of flights with year 2016 from origin MUMBAI to NARITA with total number 4
The total number of flights with year 2016 from origin MUMBAI to NAVOI with total number 4
The total number of flights with year 2016 from origin MUMBAI to NEW YORK with total number 4
The total number of flights with year 2016 from origin MUMBAI to NEWARK with total number 4
The total number of flights with year 2016 from origin MUMBAI to OSAKA with total number 4
The total number of flights with year 2016 from origin MUMBAI to PARIS with total number 4
The total number of flights with year 2016 from origin MUMBAI to RIYADH with total number 4
The total number of flights with year 2016 from origin MUMBAI to SANAA with total number 4
The total number of flights with year 2016 from origin MUMBAI to SEOUL with total number 4
The total number of flights with year 2016 from origin MUMBAI to SEYCHELLES with total number 4
The total number of flights with year 2016 from origin MUMBAI to SHANGHAI with total number 4
The total number of flights with year 2016 from origin MUMBAI to SHARJAH with total number 4
The total number of flights with year 2016 from origin MUMBAI to SHENZHEN with total number 4
The total number of flights with year 2016 from origin MUMBAI to SINGAPORE with total number 4
The total number of flights with year 2016 from origin MUMBAI to TAIPAE with total number 4
The total number of flights with year 2016 from origin MUMBAI to TEHRAN with total number 4
The total number of flights with year 2016 from origin MUMBAI to TELAVIV with total number 4
The total number of flights with year 2016 from origin MUMBAI to ZURICH with total number 4
The total number of flights with year 2017 from origin MUMBAI to ABUDHABI with total number 4
The total number of flights with year 2017 from origin MUMBAI to ADDIS ABABA with total number 4
The total number of flights with year 2017 from origin MUMBAI to ADEN with total number 4
The total number of flights with year 2017 from origin MUMBAI to AMSTERDAM with total number 4
The total number of flights with year 2017 from origin MUMBAI to ANTALYA with total number 4
The total number of flights with year 2017 from origin MUMBAI to BAHRAIN with total number 4
The total number of flights with year 2017 from origin MUMBAI to BANGKOK with total number 4
The total number of flights with year 2017 from origin MUMBAI to BRUSELLS with total number 4
The total number of flights with year 2017 from origin MUMBAI to CAIRO with total number 4
The total number of flights with year 2017 from origin MUMBAI to COLOGNE with total number 4
The total number of flights with year 2017 from origin MUMBAI to COLOMBO with total number 4
The total number of flights with year 2017 from origin MUMBAI to DAMMAM with total number 4
The total number of flights with year 2017 from origin MUMBAI to DENPASAR with total number 1
The total number of flights with year 2017 from origin MUMBAI to DHAKA with total number 4
The total number of flights with year 2017 from origin MUMBAI to DOHA with total number 4
The total number of flights with year 2017 from origin MUMBAI to DON MUEANG with total number 1
The total number of flights with year 2017 from origin MUMBAI to DUBAI with total number 4
The total number of flights with year 2017 from origin MUMBAI to FRANKFURT with total number 4
The total number of flights with year 2017 from origin MUMBAI to GUANGZHOU with total number 4
The total number of flights with year 2017 from origin MUMBAI to HO CHI MINH CITY with total number 4
The total number of flights with year 2017 from origin MUMBAI to HONG KONG with total number 4
The total number of flights with year 2017 from origin MUMBAI to ISTANBUL with total number 4
The total number of flights with year 2017 from origin MUMBAI to JEDDAH with total number 4
The total number of flights with year 2017 from origin MUMBAI to KARACHI with total number 4
The total number of flights with year 2017 from origin MUMBAI to KATHMANDU with total number 4
The total number of flights with year 2017 from origin MUMBAI to KIGALI with total number 3
The total number of flights with year 2017 from origin MUMBAI to KUALALUMPUR with total number 4
The total number of flights with year 2017 from origin MUMBAI to KUWAIT with total number 4
The total number of flights with year 2017 from origin MUMBAI to LEIPZIG with total number 1
The total number of flights with year 2017 from origin MUMBAI to LONDON with total number 4
The total number of flights with year 2017 from origin MUMBAI to LUXEMBOURG with total number 4
The total number of flights with year 2017 from origin MUMBAI to MALE with total number 1
The total number of flights with year 2017 from origin MUMBAI to MALPENSA with total number 4
The total number of flights with year 2017 from origin MUMBAI to MARUITIUS with total number 4
The total number of flights with year 2017 from origin MUMBAI to MEDINA with total number 4
The total number of flights with year 2017 from origin MUMBAI to MOSCOW with total number 3
The total number of flights with year 2017 from origin MUMBAI to MUENCHEN with total number 4
The total number of flights with year 2017 from origin MUMBAI to MUSCAT with total number 4
The total number of flights with year 2017 from origin MUMBAI to NAIROBI with total number 4
The total number of flights with year 2017 from origin MUMBAI to NARITA with total number 4
The total number of flights with year 2017 from origin MUMBAI to NAVOI with total number 1
The total number of flights with year 2017 from origin MUMBAI to NEW YORK with total number 4
The total number of flights with year 2017 from origin MUMBAI to NEWARK with total number 4
The total number of flights with year 2017 from origin MUMBAI to OSAKA with total number 4
The total number of flights with year 2017 from origin MUMBAI to PARIS with total number 4
The total number of flights with year 2017 from origin MUMBAI to RIYADH with total number 4
The total number of flights with year 2017 from origin MUMBAI to SANAA with total number 1
The total number of flights with year 2017 from origin MUMBAI to SEOUL with total number 4
The total number of flights with year 2017 from origin MUMBAI to SEYCHELLES with total number 4
The total number of flights with year 2017 from origin MUMBAI to SHANGHAI with total number 4
The total number of flights with year 2017 from origin MUMBAI to SHARJAH with total number 4
The total number of flights with year 2017 from origin MUMBAI to SHENZHEN with total number 1
The total number of flights with year 2017 from origin MUMBAI to SINGAPORE with total number 4
The total number of flights with year 2017 from origin MUMBAI to TAIPAE with total number 4
The total number of flights with year 2017 from origin MUMBAI to TANGERANG with total number 4
The total number of flights with year 2017 from origin MUMBAI to TEHRAN with total number 4
The total number of flights with year 2017 from origin MUMBAI to TELAVIV with total number 4
The total number of flights with year 2017 from origin MUMBAI to TORONTO with total number 1
The total number of flights with year 2017 from origin MUMBAI to ZURICH with total number 4
The total number of flights with year 2018 from origin MUMBAI to ABUDHABI with total number 4
The total number of flights with year 2018 from origin MUMBAI to ADDIS ABABA with total number 4
The total number of flights with year 2018 from origin MUMBAI to ADEN with total number 4
The total number of flights with year 2018 from origin MUMBAI to AMSTERDAM with total number 4
The total number of flights with year 2018 from origin MUMBAI to BAHRAIN with total number 4
The total number of flights with year 2018 from origin MUMBAI to BANGKOK with total number 4
The total number of flights with year 2018 from origin MUMBAI to BRUSELLS with total number 4
The total number of flights with year 2018 from origin MUMBAI to CAIRO with total number 4
The total number of flights with year 2018 from origin MUMBAI to COLOGNE with total number 4
The total number of flights with year 2018 from origin MUMBAI to COLOMBO with total number 4
The total number of flights with year 2018 from origin MUMBAI to DAMMAM with total number 4
The total number of flights with year 2018 from origin MUMBAI to DENPASAR with total number 4
The total number of flights with year 2018 from origin MUMBAI to DHAKA with total number 4
The total number of flights with year 2018 from origin MUMBAI to DOHA with total number 4
The total number of flights with year 2018 from origin MUMBAI to DON MUEANG with total number 4
The total number of flights with year 2018 from origin MUMBAI to DUBAI with total number 4
The total number of flights with year 2018 from origin MUMBAI to FRANKFURT with total number 4
The total number of flights with year 2018 from origin MUMBAI to GUANGZHOU with total number 4
The total number of flights with year 2018 from origin MUMBAI to HONG KONG with total number 4
The total number of flights with year 2018 from origin MUMBAI to ISTANBUL with total number 4
The total number of flights with year 2018 from origin MUMBAI to JEDDAH with total number 4
The total number of flights with year 2018 from origin MUMBAI to KATHMANDU with total number 4
The total number of flights with year 2018 from origin MUMBAI to KIGALI with total number 4
The total number of flights with year 2018 from origin MUMBAI to KUALALUMPUR with total number 4
The total number of flights with year 2018 from origin MUMBAI to KUWAIT with total number 4
The total number of flights with year 2018 from origin MUMBAI to LONDON with total number 4
The total number of flights with year 2018 from origin MUMBAI to LUXEMBOURG with total number 1
The total number of flights with year 2018 from origin MUMBAI to MALE with total number 1
The total number of flights with year 2018 from origin MUMBAI to MALPENSA with total number 4
The total number of flights with year 2018 from origin MUMBAI to MANCHESTER with total number 1
The total number of flights with year 2018 from origin MUMBAI to MARUITIUS with total number 4
The total number of flights with year 2018 from origin MUMBAI to MEDINA with total number 4
The total number of flights with year 2018 from origin MUMBAI to MOSCOW with total number 1
The total number of flights with year 2018 from origin MUMBAI to MUENCHEN with total number 4
The total number of flights with year 2018 from origin MUMBAI to MUSCAT with total number 4
The total number of flights with year 2018 from origin MUMBAI to NAIROBI with total number 4
The total number of flights with year 2018 from origin MUMBAI to NARITA with total number 4
The total number of flights with year 2018 from origin MUMBAI to NEW YORK with total number 4
The total number of flights with year 2018 from origin MUMBAI to NEWARK with total number 4
The total number of flights with year 2018 from origin MUMBAI to OSAKA with total number 4
The total number of flights with year 2018 from origin MUMBAI to PARIS with total number 4
The total number of flights with year 2018 from origin MUMBAI to PHUKET with total number 1
The total number of flights with year 2018 from origin MUMBAI to RIYADH with total number 4
The total number of flights with year 2018 from origin MUMBAI to SEOUL with total number 4
The total number of flights with year 2018 from origin MUMBAI to SEYCHELLES with total number 4
The total number of flights with year 2018 from origin MUMBAI to SHANGHAI with total number 4
The total number of flights with year 2018 from origin MUMBAI to SHARJAH with total number 4
The total number of flights with year 2018 from origin MUMBAI to SINGAPORE with total number 4
The total number of flights with year 2018 from origin MUMBAI to TAIPAE with total number 4
The total number of flights with year 2018 from origin MUMBAI to TANGERANG with total number 1
The total number of flights with year 2018 from origin MUMBAI to TASHKENT with total number 1
The total number of flights with year 2018 from origin MUMBAI to TEHRAN with total number 4
The total number of flights with year 2018 from origin MUMBAI to TELAVIV with total number 4